.search-bar {
  width: 80%;
  font-size: 20px;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 50px;
}

.search-bar:focus {
  outline: none;
  border-color: #0d6efd;
}
